body
{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:"ו";
	background:#fff;
}

#header
{
	width:100%;
	height:40px;
	background-color:#99FFFF;
	position:absolute;
	top:0px;
	
}

#header .header_main
{
	width:800px;
	height:40px;
	margin:0 auto;
}


#header .header_main h1
{
	font-size:20px;
	margin:0px;
	padding:0px;
	color:#666;
	height:40px;
	line-height:40px;
	float:left;	
}

#header .header_search
{
	padding:5px 0 0 0;
	float:left;
}

#header .header_search .search
{

	width:300px;
	height:24px;
	boder:1px solid #ccc;
	color:#666;
	font-size:14px;
	text-indent:5px;
}

#header .header_button
{
	padding:5px;
	float:left;
}
#search_button
{
	height:29px;
}


#header .header_member
{
	
	float:right;
	height:40px;
	line-height:40px;
	color:#555;
	font-size:14px;
}

#header .header_member a
{
	text-decoration:none;
	color:#555;
	font-size:14px;
}

.validate_form
{
	display:none;

}
